.container {
    margin-top: 50px;
}
.rounded-circle {
    width: 150px;
    height: 150px;
}
.font-weight-bold {
    font-size: 18px;
    margin-top: 10px;
}
.text-black-50 {
    font-size: 16px;
}
.labels {
    font-weight: bold;
}
.form-control {
    margin-top: 10px;
}
.mt-5 {
    margin-top: 30px;
}
.profile-button {
    font-size: 18px;
}
.col-md-5 {
    border-right: 1px solid #ccc;
}
.card-title {
    font-size: 24px;
}
.card {
    margin-top: 50px;
}
.btn-login {
    margin-top: 20px;
}
.small {
    font-size: 14px;
}
.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}


